
.header{
    padding-top: 15px;
}
.section-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    width: 90%;
}

.section-1-div-1 {
    display: flex;
    flex-direction: column;
}

.section-1-div-1 span {
    font-size: 15px;
    color: rgb(255, 51, 0);
    margin-bottom: 10px;
}

.section-1-div-1 strong {
    font-size: 30px;
    margin-bottom: 10px;
}

.section-1-div-1 p {
    font-size: 17px;
    margin-bottom: 3px;
}

.section-1-div-1 p:nth-child(5) {
    font-size: 13px;
}

.section-1-div-2 {
    background-color: #fff;
    padding: 10px;
    opacity: 0.8;
    border-radius: 50px;
    display: flex;
    column-gap: 5px;
}

.section-1-div-2 span {
    font-size: 12px;
}

.section-1-div-2 span i {
    background-color: black;
    color: #fff;
    border-radius: 50px;
    padding: 3px;
}
.button-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
}

.button-3 .button-3-div-1 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(181, 187, 169);
}

.button-3 .button-3-div-2 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(71, 79, 94);
}

.button-3 .button-3-div-3 {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: rgb(243, 242, 237);
}

body {
    background-color: #ffff;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.section-2 .section-2-div-2 {
    padding-bottom: 100px;
    height: 100%;
    width: 40%;
    overflow-y: auto;
    padding-top: 30px;
}
.section-2 .section-2-div-2::-webkit-scrollbar{
    display: none;
}

.section-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    width: 90%;
    height: 700px;
    column-gap: 50px;
}

.section-2 .section-2-div-1 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #ffff;
}

.section-2 .section-2-div-1 img {
    width: 100%;
    border: none;
    height: 100%;
    object-fit: contain;
    image-rendering: pixelated;
    border-radius: 20px;
}
.section-2-div-2 .button-2 .button-2-div-1 strong {
    font-size: 20px;
}

.section-2-div-2 .button-2 .button-2-div-2 p {
    font-size: 13px;
    line-height: 1.5;
}
.section-2{
    display: flex;
}

footer {
    width: 100%;
    background-color: #f7f7f7;
    overflow-y: scroll;
    height: 200px;
}

footer .footer-1 {
    display: flex;
    justify-content: space-between;
    padding: 20px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

footer .footer-2 {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footer-3 {
    display: flex;
    justify-content: start;
    margin-left: 530px;
    align-items: center;
    padding: 20px 10px;
    column-gap: 200px;
    color: orange;
    position: -webkit-sticky;
    position: sticky;
    bottom: 20px;
}

.footer-3 strong {
    font-size: 20px;
    font-weight: 700;
}

.footer-3 button {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: blue;
    color: #ffff;
}

@media screen and (max-width: 1200px) {
    .section-2 {
        width: 100%;
    }
}

@media screen and (max-width: 1000px) {
    .section-1 {
        display: flex;
        flex-direction: column;
        row-gap: 50px;
    }

    .section-1 .section-1-div-1 {
        text-align: center;
        line-height: 1.5;
    }

    .section-2 {
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .cart-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .section-2 .section-2-div-2 {
        width: 100%;
        text-align: center;
    }
}
 .cart-1 h2 span {
     color: #8f8c8c;
 }

 .cart-1 p {
     font-size: 17px;
     line-height: 1.5;
     margin-top: 50px;
     margin-bottom: 50px;
 }

 .cart-1-para {
     width: 400px;
     height: 100px;
     padding: 10px;
     border: 1px solid black;
     display: flex;
     justify-content: space-between;
     border-radius: 15px;
     align-items: center;
     line-height: 1.5;
 }

 .para-1 {
     display: flex;
     flex-direction: column;
 }

 .para-1 strong:nth-child(1) {
     font-size: 20px;
 }

 .para-1 strong:nth-child(2) {
     font-size: 12px;
 }

 .para-2 {
     display: flex;
     flex-direction: column;
     line-height: 1.5;
     font-size: 15px;
 }

 .cart-2 {
     font-size: 12px;
     padding: 10px;
 }

 .cart-3 {
     display: flex;
     justify-content: space-between;
     align-items: center;
     background-color: rgb(245, 245, 247);
     padding: 15px;
     border-radius: 15px;
     margin-top: 50px;
 }

 .cart-3 .cart-3-content-1 {
     font-size: 15px;
     width: 80%;
 }

 .cart-3 .cart-plus i {
     border: 1px solid rgba(0, 0, 0, 0.4);
     background-color: #000000;
     border-radius: 10px;
     padding: 1px;
     color: #fff;
 }

 .add {
     margin-top: 50px;
 }

 .add button {
     border-radius: 50px;
     padding: 10px 30px;
     background-color: blue;
     color: #ffff;
     cursor: pointer;
 }