* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: sans-serif;
}

body {
    background-color: rgb(245, 245, 247);
    color: rgba(0, 0, 0, .8);
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}

input,
button {
    border: none;
    outline: none;
}