main{
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin-top: 30px;
}
main .main,.main-2,.main-3{
    grid-column-start: 1;
    grid-column-end: 3;
}

main .main .main-section-1-image{
    background-image: url("./assets/image-iphone/iphone_15_banner_home.jpg");
    height: 693px;
    background-size:cover;
    background-position: center;
}
main .main .main-section-1-image .main-section-1-image-content{
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}
main .main .main-section-1-image .main-section-1-image-content h2{
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
}
main .main .main-section-1-image .main-section-1-image-content h3{
        font-size: 28px;
        line-height: 1.10722;
        font-weight: 400;
        padding: 4px;
        margin-top: 5px;
}
main .main .main-section-1-image .main-section-1-image-content .main-section-1-image-content-icon {
    padding-top: 20px;
}
main .main .main-section-1-image .main-section-1-image-content .main-section-1-image-content-icon a{
    line-height: 1.10722;
        font-weight: 400;
        color: rgb(41, 151, 255);
        padding: 7px;
        font-size: 19px;
}
/* section-2 */






main .main-2 .main-2-section-2-image-2 {
    background-image: url("./assets/image-iphone/iphone_15_banner_home_2.jpg");
    height: 693px;
    background-size: cover;
    background-position: center;
}

main .main-2 .main-2-section-2-image-2 .main-2-section-2-image-2-content-2 {
    color: rgb(29, 29, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

main .main-2 .main-2-section-2-image-2 .main-2-section-2-image-2-content-2 h2 {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
}

main .main-2 .main-2-section-2-image-2 .main-2-section-2-image-2-content-2 h3 {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
}

main .main-2 .main-2-section-2-image-2 .main-2-section-2-image-2-content-2 .main-2-section-2-image-2-content-2-icon-2 {
    padding-top: 20px;
}

main .main-2 .main-2-section-2-image-2 .main-2-section-2-image-2-content-2 .main-2-section-2-image-2-content-2-icon-2 a {
    line-height: 1.10722;
    font-weight: 400;
    color: rgb(41, 151, 255);
    padding: 7px;
    font-size: 19px;
}
/* section-3 */

main .main-3 .main-3-section-3-image-3 {
    background-image: url("./assets/image-watch/watch_banner_home.jpg");
    height: 693px;
    background-size: cover;
    background-position: center;
}

main .main-3 .main-3-section-3-image-3 .main-3-section-3-image-3-content-3 {
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

main .main-3 .main-3-section-3-image-3 .main-3-section-3-image-3-content-3 h2 {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
}

main .main-3 .main-3-section-3-image-3 .main-3-section-3-image-3-content-3 h3 {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
}

main .main-3 .main-3-section-3-image-3 .main-3-section-3-image-3-content-3 .main-3-section-3-image-3-content-3-icon-3 {
    padding-top: 20px;
}

main .main-3 .main-3-section-3-image-3 .main-3-section-3-image-3-content-3 .main-3-section-3-image-3-content-3-icon-3 a {
    line-height: 1.10722;
    font-weight: 400;
    color: rgb(41, 151, 255);
    padding: 7px;
    font-size: 19px;
}



/* section-4 */

main .main-4 .main-4-section-4-image-4 {
    background-image: url("./assets/image-apple-banner/apple_banner_home.jpg");
    height: 693px;
    background-size: cover;
    background-position: center;
}

main .main-4 .main-4-section-4-image-4 .main-4-section-4-image-4-content-4 {
    color: #ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 470px;
}

main .main-4 .main-4-section-4-image-4 .main-4-section-4-image-4-content-4 h2 {
    font-size: 40px;
    line-height: 1.1;
    font-weight: 600;
}

main .main-4 .main-4-section-4-image-4 .main-4-section-4-image-4-content-4 h3 {
    font-size: 21px;
    line-height: 1.2381;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
}

main .main-4 .main-4-section-4-image-4 .main-4-section-4-image-4-content-4 .main-4-section-4-image-4-content-4-icon-4 {
    padding-top: 20px;
}

main .main-4 .main-4-section-4-image-4 .main-4-section-4-image-4-content-4 .main-4-section-4-image-4-content-4-icon-4 a {
    line-height: 1.10722;
    font-weight: 400;
    color: rgb(41, 151, 255);
    padding: 7px;
    font-size: 19px;
}




/* section-5 */

main .main-5 .main-5-section-5-image-5 {
    background-image: url("./assets/image-watch/watch_banner_home_2.jpg");
    height: 693px;
    background-size: cover;
    background-position: center;
}

main .main-5 .main-5-section-5-image-5 .main-5-section-5-image-5-content-5 {
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

main .main-5 .main-5-section-5-image-5 .main-5-section-5-image-5-content-5 h2 {
    font-size: 40px;
    line-height: 1.07143;
    font-weight: 600;
}

main .main-5 .main-5-section-5-image-5 .main-5-section-5-image-5-content-5 h3 {
    font-size: 21px;
    line-height: 1.10722;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
}
main .main-5 .main-5-section-5-image-5 .main-5-section-5-image-5-content-5 h4 {
    font-size: 17px;
    line-height: 1.10722;
    font-weight: 600;
    padding: 4px;
    margin-top: 5px;
    color: orange;
    letter-spacing: 1.5px;
}

main .main-5 .main-5-section-5-image-5 .main-5-section-5-image-5-content-5 .main-5-section-5-image-5-content-5-icon-5 {
    padding-top: 20px;
}

main .main-5 .main-5-section-5-image-5 .main-5-section-5-image-5-content-5 .main-5-section-5-image-5-content-5-icon-5 a {
    line-height: 1.10722;
    font-weight: 400;
    color: rgb(41, 151, 255);
    padding: 7px;
    font-size: 19px;
}




/* section-6 */

main .main-6 .main-6-section-6-image-6 {
    background-image: url("./assets/image-watch/watch_banner_home_3.png");
    height: 693px;
    background-size: cover;
    background-position: center;
}

main .main-6 .main-6-section-6-image-6 .main-6-section-6-image-6-content-6 {
    color: rgb(29, 29, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

main .main-6 .main-6-section-6-image-6 .main-6-section-6-image-6-content-6 h2 {
    font-size: 40px;
    line-height: 1.07143;
    font-weight: 600;
}

main .main-6 .main-6-section-6-image-6 .main-6-section-6-image-6-content-6 h3 {
    font-size: 21px;
    line-height: 1.10722;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
}

main .main-6 .main-6-section-6-image-6 .main-6-section-6-image-6-content-6 h4 {
    font-size: 16px;
    line-height: 1.10722;
    font-weight: 700;
    padding: 4px;
    margin-top: 5px;
    color: rgb(248, 161, 0);
    letter-spacing: 1.5px;
}

main .main-6 .main-6-section-6-image-6 .main-6-section-6-image-6-content-6 .main-6-section-6-image-6-content-6-icon-6 {
    padding-top: 20px;
}

main .main-6 .main-6-section-6-image-6 .main-6-section-6-image-6-content-6 .main-6-section-6-image-6-content-6-icon-6 a {
    line-height: 1.10722;
    font-weight: 400;
    color: rgb(41, 151, 255);
    padding: 7px;
    font-size: 19px;
}
/* section-7 */

main .main-7 .main-7-section-7-image-7 {
    background-image: url("./assets/image-mac/mac_banner_home.jpg");
    height: 693px;
    background-size: cover;
    background-position: center;
}

main .main-7 .main-7-section-7-image-7 .main-7-section-7-image-7-content-7 {
    color: rgb(29, 29, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

main .main-7 .main-7-section-7-image-7 .main-7-section-7-image-7-content-7 h2 {
    font-size: 40px;
    line-height: 1.07143;
    font-weight: 600;
}

main .main-7 .main-7-section-7-image-7 .main-7-section-7-image-7-content-7 h3 {
    font-size: 21px;
    line-height: 1.10722;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
}

main .main-7 .main-7-section-7-image-7 .main-7-section-7-image-7-content-7 h4 {
    font-size: 17px;
    line-height: 1.10722;
    font-weight: 600;
    padding: 4px;
    margin-top: 5px;
    color: orange;
    letter-spacing: 1.5px;
}

main .main-7 .main-7-section-7-image-7 .main-7-section-7-image-7-content-7 .main-7-section-7-image-7-content-7-icon-7 {
    padding-top: 20px;
}

main .main-7 .main-7-section-7-image-7 .main-7-section-7-image-7-content-7 .main-7-section-7-image-7-content-7-icon-7 a {
    line-height: 1.10722;
    font-weight: 400;
    color: rgb(41, 151, 255);
    padding: 7px;
    font-size: 19px;
}
/* section-8 */

main .main-8 .main-8-section-8-image-8 {
    background-image: url("./assets/image-iPad/ipad_banner_home.jpg");
    height: 693px;
    background-size: cover;
    background-position: center;
}

main .main-8 .main-8-section-8-image-8 .main-8-section-8-image-8-content-8 {
    color: rgb(29, 29, 31);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

main .main-8 .main-8-section-8-image-8 .main-8-section-8-image-8-content-8 h2 {
    font-size: 40px;
    line-height: 1.07143;
    font-weight: 600;
}

main .main-8 .main-8-section-8-image-8 .main-8-section-8-image-8-content-8 h3 {
    font-size: 21px;
    line-height: 1.10722;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
}

main .main-8 .main-8-section-8-image-8 .main-8-section-8-image-8-content-8 h4 {
    font-size: 17px;
    line-height: 1.10722;
    font-weight: 600;
    padding: 4px;
    margin-top: 5px;
    color: orange;
    letter-spacing: 1.5px;
}

main .main-8 .main-8-section-8-image-8 .main-8-section-8-image-8-content-8 .main-8-section-8-image-8-content-8-icon-8 {
    padding-top: 20px;
}

main .main-8 .main-8-section-8-image-8 .main-8-section-8-image-8-content-8 .main-8-section-8-image-8-content-8-icon-8 a {
    line-height: 1.10722;
    font-weight: 400;
    color: rgb(41, 151, 255);
    padding: 7px;
    font-size: 19px;
}
/* section-5 */

main .main-9 .main-9-section-9-image-9 {
    background-image: url("./assets/image-airpods/airpod_banner_home.jpg");
    height: 693px;
    background-size: cover;
    background-position: center;
}

main .main-9 .main-9-section-9-image-9 .main-9-section-9-image-9-content-9 {
    color:#ffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
}

main .main-9 .main-9-section-9-image-9 .main-9-section-9-image-9-content-9 h2 {
    font-size: 40px;
    line-height: 1.07143;
    font-weight: 600;
}

main .main-9 .main-9-section-9-image-9 .main-9-section-9-image-9-content-9 h3 {
    font-size: 21px;
    line-height: 1.10722;
    font-weight: 400;
    padding: 4px;
    margin-top: 5px;
}

main .main-9 .main-9-section-9-image-9 .main-9-section-9-image-9-content-9 h4 {
    font-size: 17px;
    line-height: 1.10722;
    font-weight: 600;
    padding: 4px;
    margin-top: 5px;
    color: orange;
    letter-spacing: 1.5px;
}

main .main-9 .main-9-section-9-image-9 .main-9-section-9-image-9-content-9 .main-9-section-9-image-9-content-9-icon-9 {
    padding-top: 20px;
}

main .main-9 .main-9-section-9-image-9 .main-9-section-9-image-9-content-9 .main-9-section-9-image-9-content-9-icon-9 a {
    line-height: 1.10722;
    font-weight: 400;
    color: rgb(41, 151, 255);
    padding: 7px;
    font-size: 19px;
}
/* end */
main .main-4,.main-6,.main-8{
    padding-left: 10px;
}
main .main-5,.main-7,.main-9 {
    padding-right: 10px;
}



/* section-10 */

 main .main-10 {
     grid-column-start: 1;
     grid-column-end: 3;
     display: flex;
     overflow-x: scroll;
     gap: 10px;
     width: 100%;
     overflow-y: hidden;
     scroll-snap-type:  x mandatory;
 }
 main .main-10 > .slide-1{
    scroll-snap-align: center;
 }

 .main-10::-webkit-scrollbar {
     display: none;
 }

 main .main-10 .slide-1 {
     width: 100%;
     height: 710.2px;
 }

 main .main-10 .slide-1 img {
     object-fit: cover;
     height: 100%;
 }
@media screen and (max-width: 900px) {
    main {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    main .main-4,
    .main-6,
    .main-8 {
        padding-left: 0;
        background-position: center
    }

    main .main-5,
    .main-7,
    .main-9 {
        padding-right: 0;
        background-position: center;
    }
}
