nav {
    background-color: #0000;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.menu {
    display: flex;
    margin-top: 30px;
    column-gap: 20px;
    overflow-x: scroll;
    justify-content: start;
    align-items: center;
    height: 100px;
}

.menu::-webkit-scrollbar {
    display: none;
}
/* 
.menu .menu-list-1 img {
    width: 115px;
    height: 70px;
} */

.menu .menu-list-1 {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 12px;
    row-gap: 8px;
    min-width:150px ;
    height: 100%;
}
.menu .menu-list-1 img{
    object-fit: contain;
    width: 100%;
    height: 75%;
}

.menu .menu-list-1:hover {
    color: blue;
}