main {
    margin-left: 120px;
    overflow-x: hidden;
    margin-top: 10px;
}


.search {
    display: flex;
    justify-content: space-between;
}

#addEditNew {
    width: 100%;
    height: 50px;
    display: flex;
    column-gap: 20px;
    padding-left: 200px;
    display: none;
}


#addEditNew>input {
    border-radius: 10px;
    padding: 0 20px;
}

.button-search {
    width: 100%;
    background-color: #ffff;
    border: #474646;
    display: flex;
    border-radius: 20px;
    padding-left: 20px;
}

.button-search button {
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    color: #ffff;
    background-color: blue;
}

.button-search input {
    flex: 1;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 0 5px;
}

.search .addNew button {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    color: #474646;
    margin-left: 30px;
    border-radius: 20px;
}

.action-add-new {
    width: 100%;
    display: flex;
    margin-top: 30px;
}

.action-add-new input {
    padding: 10px 20px;
    margin: 10px;
}

.action-add-new .button-add-new {
    display: flex;
    column-gap: 20px;
    margin-top: 30px;
}

.action-add-new .button-add-new button {
    padding: 10px 15px;
    border-radius: 10px;
}

.action-add-new .button-add-new button:nth-child(1) {
    background-color: rgb(58, 199, 58);
    color: #ffff;
}

.action-add-new .button-add-new button:nth-child(2) {
    background-color: rgb(190, 247, 31);
    color: #5e5b5b;
}

#edit {
    background-color: orange;
    height: 40px;
    width: 75px;
    height: 30px;
    color: #ffff;
    border-radius: 10px;
    margin-top: 10px;
}

.table {
    background-color: #ffff;
    border-radius: 15px;
    padding: 10px;
    margin-top: 10px;
    width: 80%;
    margin-left: 8%;
}

table {
    width: 100%;
}

table tr td {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    height: 100px;
    text-align: center;
}

#addEdit {
    background-color: orange;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
}

#addDelete {
    background-color: red;
    color: #ffff;
    padding: 10px;
    border-radius: 10px;
}

#editCancel {
    color: #666262;
    margin-left: 10px;
    background-color: rgb(190, 247, 31);
    border-radius: 10px;
    width: 70px;
    height: 30px;
    margin-top: 10px;
}

body {
    position: relative;
}

.container {
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    position: fixed;
    top: 28%;
    left: 42%;
    z-index: 1000;
    background-color: black;
    color: #ffff;
}

.container input {
    padding: 10px 25px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}

.buttonCreate input:nth-child(1) {
    background-color: orange;
    color: #fff;
}

.buttonCreate input:nth-child(2) {
    border: 1px solid rgb(126, 126, 241);
    background-color: #ffff;
}

#EMXP,
#ETSP,
#EDG,
#ETK,
#EHA {
    border: 1px solid rgba(0, 0, 0, 0.3);
}