   body {
       background-color: black;
   }

   header .header {
       background-color: rgb(0, 0, 0);
       color: rgb(255, 255, 255);
       z-index: 1000;
   }

   .header-nav-menu-box .list li a {
       color: rgb(255, 255, 255);
   }

   nav {
       background-color: black;
       color: #ffff;
   }

   a {
       color: blue;
   }

   .section-1 {
       width: 100%;
       height: 820px;
   }

   .section-1-image-background {
       background-image: url("../../../assets/image-iPad/ipad_banner_ipad_5.jpg");
       background-position: 70% 10px;
       background-size: contain;
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       position: relative;
       color: #fff;
   }

   .box-shadow-image {
       width: 100%;
       height: 100%;
   }

   .section-1 .box-shadow-image .section-1-image-background .section-1-block {
       position: absolute;
       top: 35%;
       left: 25%;
       display: flex;
       flex-direction: column;
       text-align: center;
       line-height: 2;
       row-gap: 10px;
   }

   .section-1 .box-shadow-image .section-1-image-background .section-1-block .section-1-image-background-text-image {
       display: flex;
       justify-content: center;
       align-items: center;
       column-gap: 10px;
   }

   .section-1 .box-shadow-image .section-1-image-background .section-1-block .section-1-image-background-text h2 {
       font-size: 60px;
   }

   .section-1 .box-shadow-image .section-1-image-background .section-1-block .section-1-image-background-text-image span {
       font-size: 20px;
       letter-spacing: 2;
   }

   .section-1 .box-shadow-image .section-1-image-background .section-1-block .section-1-button button {
       width: 100px;
       height: 30px;
       border-radius: 50px;
       background-color: rgb(68, 68, 235);
       color: #fff;
       margin-top: 5px;
   }

   .section-1 .box-shadow-image .section-1-image-background .section-1-block .section-1-link a {
       font-size: 17px;
       display: flex;
       justify-content: center;
       align-items: center;
       column-gap: 5px;
       margin-top: 5px;
   }

   /* section-1 */
   .section-2 {
       width: 100%;
       height: 772px;
   }

   .section-2 .box-shadow-image-1 {
       width: 100%;
       height: 100%;
       background-color: #fff;
   }

   .section-2-image-background-1 {
       background-image: url("../../../assets/image-iPad/ipad_banner_ipad_4.jpg");
       background-position: 40% 0px;
       background-size: contain;
       width: 100%;
       height: 100%;
       background-repeat: no-repeat;
       position: relative;
   }

   .section-2 .box-shadow-image-1 .section-2-image-background-1 .section-2-block-1 {
       position: absolute;
       top: 35%;
       left: 50%;
       display: flex;
       flex-direction: column;
       text-align: center;
       line-height: 2;
       row-gap: 10px;
       color: #0c0c0c;
   }

   .section-2 .box-shadow-image-1 .section-2-image-background-1 .section-2-block-1 .section-2-image-background-text-1 h2 {
       font-size: 60px;
   }

   .section-2 .box-shadow-image-1 .section-2-image-background-1 .section-2-block-1 .section-2-image-background-text-image-1 span {
       font-size: 20px;
       letter-spacing: 2;
   }

   .section-2 .box-shadow-image-1 .section-2-image-background-1 .section-2-block-1 .section-2-button-1 button {
       width: 100px;
       height: 30px;
       border-radius: 50px;
       background-color: rgb(68, 68, 235);
       margin-top: 5px;
       color: #fff;
   }

   .section-2 .box-shadow-image-1 .section-2-image-background-1 .section-2-block-1 .section-2-link-1 a {
       font-size: 17px;
       display: flex;
       justify-content: center;
       align-items: center;
       column-gap: 5px;
       margin-top: 5px;
   }

   /* section 3 */
   .section-3 {
       background-color: #dfdede;
   }

   .section-3 .section-3-text {
       font-size: 40px;
       text-align: center;
       padding: 60px 0;
       color: #000;
   }

   .section-3 .section-3-grid {
       margin-left: 10%;
       width: 80%;
       display: grid;
       grid-template-columns: auto auto;
       gap: 20px;
   }

   .section-3 .section-3-grid-1 {
       background-image: url("../../../assets/image-iPad/ipad_banner_ipad_3.jpg");
       background-size: contain;
       background-position: bottom;
       text-align: center;
       color: #000;
       padding-top: 100px;
       background-color: #fff;
       width: 100%;
       height: 700px;
       line-height: 2;
       background-repeat: no-repeat;
   }

   .section-3 .section-3-grid-1 h2 {
       font-size: 50px;
       color: #3f3f3f;
   }

   .section-3 .section-3-grid-1 p {
       font-size: 20px;
       color: #000000;
   }

   .section-3 .section-3-grid-1 .section-3-link {
       font-size: 20px;
   }

   /* 2 */

   .section-3 .section-3-grid-2 {
       background-image: url("../../../assets/image-iPad/ipad_banner_ipad_9.jpg");
       background-size: contain;
       background-position: top;
       color: #000;
       background-color: #fff;
       line-height: 2;
       background-repeat: no-repeat;
       position: relative;
       width: 100%;
       height: 700px;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: end;
       padding-bottom: 60px;
   }

   .section-3 .section-3-grid-2 h2 {
       font-size: 50px;
       color: #3f3f3f;
   }

   .section-3 .section-3-grid-2 p {
       font-size: 20px;
       color: #000000;
   }

   .section-3 .section-3-grid-2 .section-3-link {
       font-size: 20px;
   }

   /* 3 */

   .section-3 .section-3-grid-3 {
       background-image: url("../../../assets/image-iPad/ipad_banner_ipad_2.jpg");
       background-size: contain;
       background-position: bottom;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 100%;
       height: 700px;
       color: #000;
       padding-top: 20px;
       background-color: #fff;
       line-height: 2;
       background-repeat: no-repeat;
       grid-column-start: 1;
       grid-column-end: 3;
   }

   .section-3 .section-3-grid-3 h2 {
       font-size: 50px;
       color: #3f3f3f;
   }

   .section-3 .section-3-grid-3 p {
       font-size: 20px;
       color: #000000;
   }

   .section-3 .section-3-grid-3 .section-3-link {
       font-size: 20px;
   }

   /* section-4 */
   .section-4 {
       background-color: #dfdede;
   }

   .section-4 .section-4-text {
       font-size: 35px;
       padding: 50px 0;
       color: black;
       text-align: center;
   }

   .section-4 .section-4-grid {
       margin-left: 10%;
       width: 80%;
       display: flex;
       flex-direction: column;
       row-gap: 20px;
   }

   .section-4 .section-4-grid .section-4-grid-1 {
       display: grid;
       grid-template-columns: auto auto;
       background-color: #fff;
       color: #0000;
       width: 100%;
       height: 489px;
   }

   .section-4 .section-4-grid .section-4-grid-1 .section-4-grid-1-text-1 {
       color: black;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       line-height: 3;
   }

   .section-4 .section-4-grid .section-4-grid-1 .section-4-grid-1-text-1 h2 {
       font-size: 30px;
   }

   .section-4 .section-4-grid .section-4-grid-1 .section-4-grid-1-text-1 p {
       font-size: 20px;
   }

   .section-4 .section-4-grid .section-4-grid-1 .section-4-grid-1-text-1 span {
       font-size: 20px;
   }

   .section-4 .section-4-grid .section-4-grid-1 .section-4-grid-1-image-1 {
       background-image: url("../../../assets/image-iPad/ipad_banner_ipad_10.jpg");
       background-size: contain;
       background-repeat: no-repeat;
       background-position: right;
       width: 100%;
       height: 100%;
   }

   /*  */
   .section-4 .section-4-grid .section-4-grid-2 {
       width: 100%;
       height: 480px;
   }

   .section-4 .section-4-grid .section-4-grid-2 .section-4-grid-2-image-2 {
       background-image: url("../../../assets/image-iPad/ipad_banner_ipad_7.jpg");
       width: 100%;
       height: 100%;
       background-position: center;
       background-size: cover;
       text-align: center;
       color: black;
       padding-top: 30px;
   }

   .section-4 .section-4-grid .section-4-grid-2 .section-4-grid-2-image-2 h2 {
       font-size: 30px;
   }

   .section-4 .section-4-grid .section-4-grid-2 .section-4-grid-2-image-2 p {
       font-size: 20px;
   }

   .section-4 .section-4-grid .section-4-grid-2 .section-4-grid-2-image-2 span {
       font-size: 20px;
   }

   /*  */
   .section-4 .section-4-grid .section-4-grid-3 {
       display: grid;
       grid-template-columns: auto auto;
       background-color: #fff;
       color: #0000;
       width: 100%;
       height: 489px;
   }

   .section-4 .section-4-grid .section-4-grid-3 .section-4-grid-3-text-3 {
       color: black;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       width: 100%;
       height: 100%;
       line-height: 3;
   }

   .section-4 .section-4-grid .section-4-grid-3 .section-4-grid-3-text-3 h2 {
       font-size: 30px;
   }

   .section-4 .section-4-grid .section-4-grid-3 .section-4-grid-3-text-3 p {
       font-size: 20px;
   }

   .section-4 .section-4-grid .section-4-grid-3 .section-4-grid-3-text-3 span {
       font-size: 20px;
   }

   .section-4 .section-4-grid .section-4-grid-3 .section-4-grid-3-image-3 {
       background-image: url("../../../assets/image-iPad/ipad_banner_ipad_6.jpg");
       background-size: contain;
       background-repeat: no-repeat;
       background-position: left;
       width: 100%;
       height: 100%;
   }

   /* section-5 */
   .section-5 {
       background-color: #dfdede;
       font-size: 40px;
       padding-left: 10%;
       color: black;
       padding-top: 50px;
       padding-bottom: 50px;
   }

   /* section-6 */
   .section-6 {
       background-color: #dfdede;
   }

   .section-6-grid {
       display: grid;
       grid-template-columns: auto auto;
       width: 80%;
       margin-left: 10%;
       gap: 10px;
   }

   .section-6 .section-6-div-1 {
       width: 100%;
       height: 700px;
       display: flex;
       background-color: #fff;
       grid-column-start: 1;
       grid-column-end: 3;
       column-gap: 150px;
   }

   .section-6 .section-6-div-1 .section-6-div-1-image-1 {
       display: grid;
       justify-content: end;
       align-items: center;
       width: 100%;
       height: 100%;
       padding: 20px;
   }

   .section-6 .section-6-div-1 .section-6-div-1-image-1 img {
       object-fit: contain;
   }

   .section-6 .section-6-div-1 .section-6-div-1-text {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: start;
       color: black;
   }

   .section-6 .section-6-div-1 .section-6-div-1-text img {
       object-fit: contain;
   }

   .section-6 .section-6-div-1 .section-6-div-1-text strong {
       width: 53%;
       text-align: center;
       padding: 37px 0;
       font-size: 25px;
   }

   .section-6 .section-6-div-1 .section-6-div-1-text p {
       display: flex;
       font-size: 17px;
       column-gap: 30px;
       margin-top: 20px;
       color: blue;
   }

   .section-6 .section-6-div-2 {
       width: 100%;
       height: 700px;
       background-color: #000;
       column-gap: 150px;
       display: flex;
       flex-direction: column;
   }

   .section-6 .section-6-div-2 .section-6-div-2-text {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 40px 0;
       line-height: 2;
   }

   .section-6 .section-6-div-2 .section-6-grid div {
       width: 100%;
       height: 135px;
   }

   .section-6 .section-6-div-2 .section-6-grid div img {
       object-fit: cover;
       width: 100%;
       height: 100%;
       border-radius: 15px;
   }

   .section-6 .section-6-div-2 .section-6-grid {
       display: grid;
       grid-template-columns: auto auto auto;
       gap: 10px;
       padding: 5px;
   }

   /* section-3 */

   .section-6 .section-6-div-3 {
       width: 100%;
       height: 700px;
       background-color: #000;
       column-gap: 150px;
       display: flex;
       flex-direction: column;
   }

   .section-6 .section-6-div-3 .section-6-div-3-text-1 {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       padding: 40px 0;
       line-height: 2;
   }

   .section-6 .section-6-div-3 .section-6-grid-1 div {
       width: 100%;
       height: 135px;
   }

   .section-6 .section-6-div-3 .section-6-grid-1 div img {
       object-fit: cover;
       width: 100%;
       height: 100%;
       border-radius: 15px;
   }

   .section-6 .section-6-div-3 .section-6-grid-1 {
       display: grid;
       grid-template-columns: auto auto auto auto auto;
       gap: 10px;
       padding: 5px;
   }

   .section-6 .section-6-div-4 {
       display: grid;
       grid-template-columns: auto auto;
       grid-column-start: 1;
       grid-column-end: 3;
       background-color: rgb(12, 69, 41);
       width: 100%;
       height: 700px;
       line-height: 2;
   }

   .section-6 .section-6-div-4 .section-6-div-4-text {
       text-align: center;
       padding-top: 100px;
       color: #ffff;
   }

   .section-6 .section-6-div-4 .section-6-item-1 {
       font-size: 60px;
       display: flex;
       column-gap: 20px;
       justify-content: center;
       align-items: center;
   }

   .section-6 .section-6-div-4 .section-6-item-2 {
       font-size: 30px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }

   .section-6 .section-6-div-4 .section-6-item-3 p {
       justify-content: center;
       align-items: center;
       column-gap: 20px;
       font-size: 17px;
       display: flex;
       flex-direction: row;
   }

   .section-6 .section-6-div-4 .section-6-div-4-image {
       display: flex;
       justify-content: center;
       align-items: center;
   }

   .section-6 .section-6-div-4 .section-6-div-4-image img {
       width: 200px;
       height: 200px;
   }

   .section-6 .section-6-div-5 {
       height: 700px;
       width: 100%;
       background-image: url("../../../assets/image-iPad/ipad_banner_ipad_11.jpg");
       background-size: cover;
       background-position: center;
       display: flex;
       flex-direction: column;
       align-items: center;
       line-height: 1.5;
       padding-top: 50px;
   }

   .section-6 .section-6-div-5 h2 {
       font-size: 50px;
   }

   .section-6 .section-6-div-5 p {
       font-size: 20px;
   }

   .section-6 .section-6-div-5 a {
       font-size: 17px;
       color: aliceblue;
       margin-top: 20px;
   }

   .section-6 .section-6-div-6 {
       height: 700px;
       width: 100%;
       background-image: url("../../../assets/image-iPad/ipad_banner-ipad_12.jpg");
       background-size: cover;
       background-position: center;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 50px;
       color: #ffff;
   }

   .section-6 .section-6-div-6 h2 {
       font-size: 50px;
   }

   .section-6 .section-6-div-6 a {
       font-size: 17px;
       color: aliceblue;
       margin-top: 50px;
   }