header {
    position: relative;
    width: 100%;
}

header .header {
    position: fixed;
    background-color: rgb(251, 251, 253);
    top: 0;
    height: 50.5px;
    width: 100%;
    color: black;
    z-index: 1000;
}

.header-nav-menu-box .list li>i {
    font-size: 17px;
}

.header-nav-menu-box .list {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    padding-top: 2px;
}

.header-nav-menu-box .list li {
    list-style-type: none;
    cursor: pointer;
    padding: 5px 25px;
}

.header-nav-menu-box .list li {
    height: 50px;
}

.header-nav-menu-box .list li a {
    color: black;
}

.menu-list-small-2 .sub-menu-1 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 20px;
    z-index: 2;
    display: none;
}

.menu-list-small-1 i {
    font-size: 18px;
}

.header-nav-menu-box .list .menu-list-small-2 .sub-menu-1 ul li {
    font-size: 17px;
    color: #424245;
    opacity: 0.8;
    line-height: 2;
}

.list .menu-list-small-2 .sub-menu-1 .sub-menu-1-a li:not(:nth-child(1)) {
    font-size: 2vh;
    font-weight: 600;
}

.list .menu-list-small-2:hover .sub-menu-1 {
    display: block;
    display: flex;
    padding-left: 400px;
    column-gap: 50px;
    padding-top: 30px;
    top: 50px;
    background-color: rgba(252, 252, 253);
}

/*  */


header .header-2-div-content {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    padding: 25px;
    font-size: 12px;
    background-color: #ffff;
}

header .header-2-div-content p span {
    color: rgb(101, 101, 238);
}

header .header-nav-menu .header-nav-menu-box .menu-list-small-5 {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 2;
    display: none;
}



/* search */
.background {
    display: none;
}

.menu-list-small-3 i:hover .background {
    position: absolute;
    top: 35px;
    left: 0;
    right: 0;
    display: block;
    height: 200px;
    background-color: #fff;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-list-small-3 .background .search {
    width: 50%;
    height: 50px;
    display: flex;
    border: 1px solid black;
}

.menu-list-small-3 .background .search input {
    width: 100%;
    height: 100%;
    flex: 1;
    font-size: 17px;
    padding-left: 10px;
}

.menu-list-small-3 .background .search button {
    width: 15%;
    font-size: 17px;
    height: 100%;
}


/*  */


.menu-list-small-6 .fa-user:hover {
    animation: user 0.9s infinite alternate-reverse;
}

.fa-bag-shopping {
    margin: 0 50px;
    position: relative;
    font-size: 30px;
}

.logout-dropdown {
    display: flex;
    flex-direction: column;
    z-index: 1000;
    background-color: black;
    width: 100px;
    align-items: center;
    justify-content: center;
    height: 100px;
    margin-top: 20px;
}

.contentLogout {
    color: orange;
    font-size: 17px;
}

.logout-dropdown>button {
    color: rgb(255, 255, 255);
    width: 100%;
    background-color: black;
    height: 50%;
}

.logout-dropdown>button:hover {
    background-color: #ffff;
    color: black;
}

.fa-bag-shopping::after {
    position: absolute;
    content: attr(data-cart);
    font-size: 10px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: -15px;
    left: 8px;
    color: #f31f1f;
}

.menu-list-small-4 {
    animation: example 1s infinite alternate-reverse;
}

.menu-list-small-4:hover {
    animation: none;
}


@keyframes example {
    from {
        transform: translateY(5px);
    }

    to {
        transform: translateY(-5px);
    }

    100% {
        color: aqua;
    }

    90% {
        color: rebeccapurple;
    }

    80% {
        color: red;
    }

    10% {
        color: fuchsia;
    }

    0% {
        color: darkgray;
    }
}

@keyframes user {
    from {
        transform: translateY(5px);
    }

    to {
        transform: translateY(-5px);
    }

    100% {
        color: aqua;
    }

    90% {
        color: rebeccapurple;
    }

    10% {
        color: fuchsia;
    }

    0% {
        color: darkgray;
    }
}

/*  */